<!DOCTYPE html>
<html>
<head>
    <title>Post List</title>
</head>
<body>
    <header>
        <h1><a href= " / ">Post List</a></h1>
    </header>

{% for post in posts %}
    <article>
        <time>published: 08.12.2024, 11:02</time>
        <h2><a href=" ">My first post</a></h2>
        <p>The Fear of The Lord is The Beginning of Wisdom.</p>
    </article>
{% endfor %}    

{% for post in posts %}
    <article>
        <time>published: 08.12.2024, 11:02</time>
        <h2><a href=" ">My second post</a></h2>
        <p>Fear and Faith cannot co-exist.</p>
    </article>
{% endfor %}    
</body>
</html>